@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-league-spartan: "League Spartan", sans-serif;

  --color-desaturated-dark-cyan: hsl(180, 29%, 50%);
  --color-light-grayish-cyan-50: hsl(180, 52%, 96%);
  --color-light-grayish-cyan-100: hsl(180, 31%, 95%);
  --color-dark-grayish-cyan: hsl(180, 8%, 52%);
  --color-very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

@layer base {
  body {
    @apply font-league-spartan bg-light-grayish-cyan-50;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[1280px] mx-auto px-6;
  }
}
